h1,
h5,
input,
p {
    font-family: 'Rubik', sans-serif;
}

p {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: hsl(0, 0%, 59%);
    margin-bottom: 0.5rem;
}

input[type="text"] {
    font-size: 1rem;
}

input[type="text"]::placeholder {
    color: hsl(0, 0%, 59%);
}

body {
    background-image: url('../images/pattern-bg-desktop.png');
}

#map {
    z-index: -1;
    position: relative;
    top: -7rem;
}

@media (max-width: 768px) {
    #map {
        top: -18rem;
    }
}